

.navegador {
    /* esto es un LI de la clase navegador */
    list-style: none;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
}

.head {
    display: flex;
    justify-content: center;

}

.nave {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 1s;
 
}
a:hover, a:focus { 
    background-size: 100% 2px;
}
.galery{
display: flex;
flex-wrap: wrap;
}
.gal{ /*tamaño de imagen de la galeria*/
    width:40%;
    height: 350px;
    margin: 10px;
}