@font-face {
    font-family: "titulo";
    src: url(/font/MkLatinoPlain.ttf);
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-color: #bcbfa3;
    color: black;
}
article{
    font-family: 'Montserrat', sans-serif;

}
.navegador {
    /* esto es un LI de la clase navegador */
    list-style: none;
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
    font-family: "titulo";
}
h1{
    font-family: "titulo";
}

.head {
    display: flex;
    justify-content: center;

}

.nave {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 1s;
 
}
a:hover, a:focus { 
    background-size: 100% 2px;
}
#galeria{
    border-radius: 10px;
}
.galery{
display: flex;
flex-wrap: wrap;
height: 300px;
overflow: auto;
justify-content: center;
}
.gal{ /*tamaño de imagen de la galeria*/
    width:40%;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    transition: 1s;
}
.gal:hover{
 transform: scale(1.1);
}
.desc{
    display: flex;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    flex-wrap: wrap;

    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 2s;
}
.desc:hover{
    color: white;
}
.pe{
    width: 80%;
    font-size: 30px;
}

.img1{
    width: 17%;
    height: 160px;
}
h3{
    width: 100%;
}
h4{
    width: 100%;
}

